.input-container{
    display:flex;
    flex-direction:column;
}
.input-container label{
    text-align:start;
    cursor:pointer;
}
.inpurt-container span{
    text-align:start !important;

}
.input-container .right-image{
    position:absolute;
    top:12px;
    left:15px;
}

.input-container .left-image{
    position:absolute;
    top:12px;
    right:10px;
}
.input-container input:focus{
    border:1px solid blue;
    outline: none;
}
/* need to read about this style of code */
.input-container input:invalid:focus,
.input-container input:invalid:focus-visible {
    border: 1px solid red;
}